<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <title>Insert title here</title>
    <script>
      const app = angular.module("test_app", []);

      app.controller("controller1", function ($scope) {
        $scope.data1 = 100;
        $scope.data2 = 200;
        $scope.changeValue = function () {
          $scope.data1 = 1000;
          $scope.data2 = 2000;
        };
      });
    </script>
  </head>
  <body>
    <div ng-app="test_app" ng-controller="controller1">
      data1 : {{data1}}<br />
      data2 : {{data2}}<br />
      <input type="text" ng-model="data1" />
      <input type="text" ng-model="data2" />

      <button type="button" ng-click="changeValue()">버튼</button>
    </div>
  </body>
</html>
